In [32]:
import numpy as np
import pandas as pd 

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import accuracy_score

In [33]:
df = pd.read_csv('stud_plc.csv')
df.head()

   Student_ID  Age  Gender  ...  Internship  Backlogs  Placed
0           1   20    Male  ...         Yes         0       1
1           2   21  Female  ...          No         1       0
2           3   22    Male  ...         Yes         0       1
3           4   20  Female  ...          No         2       0
4           5   23    Male  ...         Yes         0       1

[5 rows x 10 columns]

In [34]:
#LabelEncoder

le = LabelEncoder()
df['Internship'] = le.fit_transform(df['Internship'])

In [35]:
#LinearRegression
fe_lr = [
    'Age',
    'Study_Hours',
    'Attendance_Percent',
    'Mid_Sem_Marks',
    'Backlogs'
]

target_lr = 'Final_Score'

x_lr = df[fe_lr]
y_lr = df[target_lr]

x_train,x_test,y_train,y_test = train_test_split(x_lr,y_lr,test_size=0.2,random_state=42)

li_model = LinearRegression()
li_model.fit(x_train,y_train)

li_pred = li_model.predict(x_test)

print("R2_Score : ",round(r2_score(y_test,li_pred),3)*100)

R2_Score :  96.2

In [36]:
#LogisticRegression 

fe_lo = [
    'Study_Hours',
    'Attendance_Percent',
    'Mid_Sem_Marks',
    'Final_Score',
    'Internship',
    'Backlogs'
]

target_lo = ['Placed']

x_lo = df[fe_lo]
y_lo = df[target_lo]

x_train,x_test,y_train,y_test = train_test_split(x_lo,y_lo,test_size=0.2,random_state=42)

In [38]:
#Scalling 
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
y_test = scaler.fit_transform(y_test)

lo_model = LogisticRegression()
lo_model.fit(x_train,y_train)

lo_pred = lo_model.predict(x_test)

print("Accuracy:", round(accuracy_score(y_test, lo_pred), 3))

Accuracy: 0.5

c:\Users\AM\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:1352: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)