In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score,classification_report

In [2]:
#loading the dataset

df = pd.read_csv('data.csv')
df.head()

   Age  Income  Loan_Amount  Credit_Score  Loan_Approved
0   25   30000        10000           650              0
1   35   50000        20000           720              1
2   45   60000        25000           750              1
3   28   32000        12000           680              0
4   50   80000        40000           800              1

In [3]:
x = df.drop('Loan_Approved',axis=1)
y = df['Loan_Approved']

In [4]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [5]:
# KNN 
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [6]:
#train KNN
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train_scaled,y_train)
#predicting with KNN
y_pred_knn = knn.predict(x_test_scaled) 
#accuracy of KNN
knn_acc = accuracy_score(y_test,y_pred_knn)
print("KNN Accuracy:",knn_acc)
print("KNN Classification Report:\n",classification_report(y_test,y_pred_knn))

KNN Accuracy: 1.0
KNN Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         3

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4

In [7]:
# Decision Tree
dt = DecisionTreeClassifier(random_state=42)
dt.fit(x_train,y_train)

y_pred_dt = dt.predict(x_test)

dt_acc = accuracy_score(y_test,y_pred_dt)
print("Decision Tree Accuracy:",dt_acc)
print("Decision Tree Classification Report:\n",classification_report(y_test,y_pred_dt))

Decision Tree Accuracy: 1.0
Decision Tree Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00         1
           1       1.00      1.00      1.00         3

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4

In [8]:
# model comparison
print(f"KNN Accuracy: {knn_acc:.4f}")
print(f"Decision Tree Accuracy: {dt_acc:.4f}")

if knn_acc > dt_acc:
    print("KNN performed better")
elif dt_acc > knn_acc:
    print("Decision Tree performed better")
else:
    print("Both models performed equally")

KNN Accuracy: 1.0000
Decision Tree Accuracy: 1.0000
Both models performed equally