In [16]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [17]:
df = pd.read_csv('data.csv')
df

   Age   Salary  Experience JoiningDate       City  Gender
0   22  25000.0         1.0  2022-06-15      Delhi    Male
1   29  45000.0         5.0  2020-03-10     Mumbai  Female
2   35  65000.0         8.0  2018-07-25  Bangalore    Male
3   42  85000.0        15.0  2015-01-05      Delhi    Male
4   26      NaN         3.0  2021-11-20       Pune  Female
5   31  55000.0         NaN  2019-09-14     Mumbai  Female
6   45  95000.0        20.0  2012-04-18  Bangalore    Male
7   23  28000.0         1.0  2023-02-01        NaN  Female
8   38  72000.0        10.0  2017-08-30       Pune    Male
9   28  48000.0         4.0  2020-12-12      Delhi     NaN

In [18]:
df.isnull().sum()

Age            0
Salary         1
Experience     1
JoiningDate    0
City           1
Gender         1
dtype: int64

In [19]:
df.fillna({
    'Salary': df['Salary'].median(),
    'Experience': df['Experience'].median(),
    'City': df['City'].mode()[0],
    'Gender': df['Gender'].mode()[0]
}, inplace=True)

In [20]:
def age_group(age):
    if age <= 25:
        return 'Young'
    elif age <= 40:
        return 'Adult'
    else:
        return 'Senior'

df['Age_Group'] = df['Age'].apply(age_group)

In [21]:
df['Log_Salary'] = np.log(df['Salary'])              
df['Experience_Squared'] = df['Experience'] ** 2     
df['Age_Experience'] = df['Age'] * df['Experience']

In [22]:
#lable Encoder

le = LabelEncoder()
df['Gender_Label'] = le.fit_transform(df['Gender'])

In [23]:
#OrdinalEncoder

oe = OrdinalEncoder(categories=[['Young', 'Adult', 'Senior']])
df['Age_Group_Encoded'] = oe.fit_transform(df[['Age_Group']])

In [24]:
#OnehotEncoding

pd.get_dummies(df,columns=['Gender'])

   Age   Salary  Experience  ... Age_Group_Encoded Gender_Female Gender_Male
0   22  25000.0         1.0  ...               0.0         False        True
1   29  45000.0         5.0  ...               1.0          True       False
2   35  65000.0         8.0  ...               1.0         False        True
3   42  85000.0        15.0  ...               2.0         False        True
4   26  55000.0         3.0  ...               1.0          True       False
5   31  55000.0         5.0  ...               1.0          True       False
6   45  95000.0        20.0  ...               2.0         False        True
7   23  28000.0         1.0  ...               0.0          True       False
8   38  72000.0        10.0  ...               1.0         False        True
9   28  48000.0         4.0  ...               1.0         False        True

[10 rows x 13 columns]

In [26]:
print("Final Dataset Preview:", df)

Final Dataset Preview:    Age   Salary  Experience  ... Age_Experience Gender_Label Age_Group_Encoded
0   22  25000.0         1.0  ...           22.0            1               0.0
1   29  45000.0         5.0  ...          145.0            0               1.0
2   35  65000.0         8.0  ...          280.0            1               1.0
3   42  85000.0        15.0  ...          630.0            1               2.0
4   26  55000.0         3.0  ...           78.0            0               1.0
5   31  55000.0         5.0  ...          155.0            0               1.0
6   45  95000.0        20.0  ...          900.0            1               2.0
7   23  28000.0         1.0  ...           23.0            0               0.0
8   38  72000.0        10.0  ...          380.0            1               1.0
9   28  48000.0         4.0  ...          112.0            1               1.0

[10 rows x 12 columns]

In [27]:
df.to_csv("emp_data.csv",index=False)