In [26]:
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [27]:
df  = pd.read_csv('emp.csv')
df.head()

   Age  Salary  Experience  Gender Department  PerformanceScore
0   22   25000           0    Male         IT                65
1   25   32000           2  Female         HR                70
2   28   45000           4    Male         IT                78
3   30   50000           6  Female    Finance                82
4   35   65000          10    Male    Finance                88

In [28]:
#saprate the feature 
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [29]:
x.shape

(20, 5)

In [30]:
y.shape

(20,)

In [31]:
#numarical columns for scalling
x_num = x.select_dtypes(include=['int64','float64'])

In [32]:
x_num.columns

Index(['Age', 'Salary', 'Experience'], dtype='object')

In [33]:
#train test split

x_train,x_test,y_train,y_test = train_test_split(x_num,y,test_size=0.2,random_state=42)

In [34]:
# StandardScaler

scaler = StandardScaler()
x_train_std = scaler.fit_transform(x_train)
x_test_std = scaler.fit_transform(x_test)

In [35]:
x_train_std[:5]

array([[-0.07881104, -0.02897037, -0.1891909 ],
       [ 1.02454353,  1.10409314,  0.9879969 ],
       [-0.3940552 , -0.3379877 , -0.35736058],
       [-0.55167728, -0.44099347, -0.52553026],
       [-0.86692145, -0.90451945, -0.86186963]])

In [36]:
mm_scaler = MinMaxScaler()
x_train_mm = mm_scaler.fit_transform(x_train)
x_test_mm = mm_scaler.transform(x_test)

In [37]:
x_train_mm[:5]

array([[0.42857143, 0.48387097, 0.36842105],
       [0.76190476, 0.83870968, 0.73684211],
       [0.33333333, 0.38709677, 0.31578947],
       [0.28571429, 0.35483871, 0.26315789],
       [0.19047619, 0.20967742, 0.15789474]])